html {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: rgb(32, 33, 36);
  margin: 0 auto 2em auto;
  width: calc(100vw - 4em);
  min-width: 540px;
}

a {
  color: rgb(32, 33, 36);
}

header {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  padding-top: 2em;

  background-color: white;
  border-bottom: 5px solid rgb(32, 33, 36);
}

header h1 {
  margin-block-start: 0;
}

footer {
  margin-top: 2em;
}
