html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  background-color: white;
  color: rgb(32, 33, 36);
  margin: 0 auto 1em auto;
  width: calc(100vw - 2em);
  min-width: 300px;
  max-width: 900px;
}

a {
  color: rgb(32, 33, 36);
}

header {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  padding: 1em 0;

  background-color: white;
  border-bottom: 5px solid rgb(32, 33, 36);
}

header h1 {
  margin-block-start: 0;
}

footer {
  margin-top: 2em;
}
