@media screen and (min-width: 544px){
  html {
    font-size: 14px;
  }
}

@media screen and (min-height: 415px) {
  body {
    margin: 0 auto calc(8em + 1rem) auto;
  }
  footer {
    background-color: white;
    width: calc(100vw - 2rem);
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
    padding-bottom: calc(2rem + env(safe-area-inset-bottom));

    z-index: 1; /*To fix animating exclamation to go over the footer.*/
  }
}

@media screen and (min-height: 768px) and (min-width: 694px){
  body {
    /* margin: 0 auto 7em auto; */
    width: calc(100vw - 4rem);
  }

  .img-txt {
    display: flex;
    justify-content: space-between;
  }

  .img-txt > img {
    height: 100%;
    width: auto;
    width: calc(50% - 1em);
  }

   .img-txt > div {
     width: calc(50% - 1em);
     height: auto;
     margin-top: 0;
   }

  header {
    padding: 2rem 0 1rem 0;
  }

  footer {
    background-color: white;
    width: calc(100vw - 4rem);
    position: fixed;
    bottom: 0;
    /* left: 0; */
    margin: 0 auto;
    padding: 2rem 0 2rem;
  }
}

@media screen and (min-width: 694px){
  html {
    font-size: 16px;
  }

  body {
    /* margin: 0 auto 2em auto;
    width: calc(100vw - 4em); */
    min-width: 540px;
    max-width: 900px;
  }

  footer {
    min-width: 540px;
    max-width: 900px;
  }

}

@media screen and (min-width: 1366px){
  html {
    font-size: 18px;
  }
}
