@media screen and (min-width: 544px){
  html {
    font-size: 16px;
  }
}

@media screen and (min-height: 768px) and (min-width: 694px){
  body {
    margin: 0 auto 2em auto;
    width: calc(100vw - 4em);
  }

  header {
    padding: 2em 0;
  }
}

@media screen and (min-width: 694px){
  html {
    font-size: 20px;
  }

  body {
    /* margin: 0 auto 2em auto;
    width: calc(100vw - 4em); */
    min-width: 540px;
    max-width: 900px;
  }

}

@media screen and (min-width: 1366px){
  html {
    font-size: 24px;
  }
}
