@media screen and (min-width: 544px){
  html {
    font-size: 14px;
  }
}

@media screen and (min-height: 414px) {
  body {
    margin: 0 auto calc(7em + 1rem) auto;
  }
  footer {
    background-color: white;
    width: calc(100vw - 2rem);
    position: fixed;
    bottom: 0;
    /* left: 0; */
    margin: 0 auto;
    padding: 1rem 0 2rem;
  }
}

@media screen and (min-height: 768px) and (min-width: 694px){
  body {
    margin: 0 auto 6em auto;
    width: calc(100vw - 4rem);
  }

  header {
    padding: 2em 0;
  }

  footer {
    background-color: white;
    width: calc(100vw - 4rem);
    position: fixed;
    bottom: 0;
    /* left: 0; */
    margin: 0 auto;
    padding: 1rem 0 2rem;
  }
}

@media screen and (min-width: 694px){
  html {
    font-size: 16px;
  }

  body {
    /* margin: 0 auto 2em auto;
    width: calc(100vw - 4em); */
    min-width: 540px;
    max-width: 900px;
  }

  footer {
    min-width: 540px;
    max-width: 900px;
  }

}

@media screen and (min-width: 1366px){
  html {
    font-size: 18px;
  }
}
