h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight: bold;
}

h1 {
  /* color: rgb(47, 31, 15); */
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  text-shadow: 0 1px 2px rgba(0,63,90, 0.3);
}

h2 {
  font-weight: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

h3 {
  font-weight: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h4 {
  font-weight: 1.00em;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h5 {
  font-weight: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

h6 {
  font-weight: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}
