html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--bkg);
  color: var(--text);
  margin: 0 auto 1rem auto;
  margin-left: max(auto, safe-area-inset-left);
  margin-right: max(auto, safe-area-inset-right);
  width: calc(100vw - 1rem);
  max-width: 900px;
}

img {
  height: auto;
  width: 100%;
}

@media screen and (min-height: 415px) {
  body {
    margin: 0 auto 6rem auto;
    /* width: calc(100vw - 1rem); */
  }

  footer {
    width: calc(100vw - 1rem);
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 0.5rem 0 1rem 0;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    z-index: 1; /* To fix animating exclamation to go over the footer. */
  }
}

@media screen and (min-height: 415px) and (min-width: 376px) {
  body {
    margin: 0 auto 4rem auto;
  }
}

@media screen and (min-height: 415px) and (min-width: 544px){
  html {
    font-size: 18px;
  }

  body {
    width: calc(100vw - 2rem);
    margin: 0 auto 4rem auto;
  }

  header {
    padding: 1rem 0 .5rem 0;
  }

  .minimalHeader {
    /* padding: .5rem 0 .25rem 0; */
  }

  footer {
    width: calc(100vw - 2rem);
  }
}

@media screen and (min-width: 694px){
  html {
    font-size: 20px;
  }

  body {
    margin: 0 auto 5rem auto;
    /* width: calc(100vw - 4rem); */
    /* min-width: 540px; */
    max-width: 900px;
  }

  header {
    /* padding: 2rem 0 1rem 0; */
  }

  footer {
    /* width: calc(100vw - 4rem); */
    /* min-width: 540px; */
    max-width: 900px;
    /* padding: 1rem 0 2rem 0; */
  }

}

@media screen and (min-height: 768px) and (min-width: 694px){
  body {
    margin: 0 auto 5rem auto;
    width: calc(100vw - 4rem);
  }

  .img-txt {
    display: flex;
    justify-content: space-between;
  }

  .img-txt > img {
    height: 100%;
    width: auto;
    width: calc(50% - 1em);
  }

   .img-txt > div {
     width: calc(50% - 1em);
     height: auto;
     margin-top: 0;
   }

  header {
    padding: 2rem 0 1rem 0;
  }

  /* .minimalHeader {
    padding: .5rem 0 .25rem 0;
  } */

  footer {
    width: calc(100vw - 4rem);
    padding: .5rem 0 1rem 0;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
  }

}

@media screen and (min-width: 1366px){
  html {
    font-size: 22px;
  }

  body {
    margin: 0 auto 5rem auto;
  }
}
