body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--text)
}

h1,h2,h3,h4,h5,h6 {
  color: var(--emphasis);
  display: block;
  font-weight: bold;
  /* line-height: 1rem; */
}

h1 {
  font-size: 3em;
  margin-block-start: 0.67rem;
  margin-block-end: 0.67rem;
}

h1 a, h1 a:hover {
  font-style: normal;
  text-decoration: none;
}

header > h1 {
  font-stretch: condensed;
  font-size: 1.8em;
}

h2 {
  font-size: 1.8em;
  margin-block-start: 0.83rem;
  margin-block-end: 0.83rem;
}

h3 {
  font-size: 1.2em;
  margin-block-start: 1.66rem;
  margin-block-end: 1rem;
  padding-top: 1.66rem;
  width: 100%;
  border-top: 3px solid var(--outline);
}

h4 {
  font-size: 1em;
  margin-block-start: 1.66rem;
  margin-block-end: 0;
}

h5 {
  font-size: 1em;
  font-style: italic;
  margin-block-start: 0;
  margin-block-end: 0.33rem;
}

h6 {
  font-size: 1em;
  font-style: italic;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  hyphens: auto;
  line-height: 1.4rem;
}

p + p, img + p, p + img, .img-txt > div {
  margin-top: 1rem;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--text)
}

a:hover {
  font-style: italic;
  text-decoration-style: dashed;
  opacity: 1;
}

a:active {
  opacity: 0.5;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 2rem;
}

footer {
  font-size: 1rem;
}

#contact {
  list-style: none;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0;
  line-height: 1.5rem;
}
